.page {
  display: grid;
  color: white;

  .statusline {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    h2 {
      margin: 0;
    }
  }

  .pre-game {
    padding: 2rem;
    display: grid;
    justify-content: center;
    grid-template:
    "start-game"
    "filter";
    grid-template-rows: 20% auto;
    grid-template-columns: 50%;
    row-gap: 1rem;

    .start-game {
      grid-area: start-game;
    }
    .filter {
      grid-area: filter;
    }
  }
}
