.aniguess {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "left-panel right-panel";
  grid-template-columns: 1fr 1fr;

  .left-panel {
    background-color: red;
    grid-area: left-panel;
  }

  .right-panel {
    background-color: blue;
    grid-area: right-panel;
  }

  .entry {
    padding: 1rem;
    display: grid;

    grid-template-areas:
    "title"
    "synopsis"
    "content";

    grid-template-rows: 0.1fr 0.2fr auto;


    .anititle {
      grid-area: title;
      text-overflow: ellipsis;
      overflow-x: auto;
      margin: 0;
    }

    .anisynopsis {
      grid-area: synopsis;
      text-overflow: ellipsis;
      overflow: auto;
      margin: 0;
    }

    .content {
      grid-area: content;
      display: grid;
    }
  }
}
