.navbar {
  grid-area: navbar;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .dropdown {
    display: flex;
    z-index: 0;
    &:hover .dropdown-content {
      visibility: visible;
      top: 50px;
    }
  }

  .dropdown-content {
    top: -150px;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: -1;
    transition: top 0.3s ease-out;
  }

  .logo {
    text-decoration: none;
    color: black;
    width: 4rem;
    height: 100%;
    display: grid;
    place-items: center;
    img {
      height: 3rem;
    }
  }

  .nav-links {
    height: 100%;
    display: flex;
    flex: 1 1 auto;

    > ul {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    li {
      text-decoration: none;
      color: black;
      width: 15vw;
    }

    a {
      padding: 1rem;
      display: block;
      text-decoration: none;
      color: black;
      width: 100%;
      background-color: white;
      &:hover {
        background-color: grey;
      }
    }
  }
}
